<h1 class="text-center">Game score</h1>

<div class="score-container">
  <p class="grid"> <%=@letters.join(" ")%> </p>
  <p>Your word: <strong><%=params[:word].upcase%></strong></p>
  <p>Message: <%=@message%> </p>
</div>
